        <!-- ======= NEW Projects Section ======= -->
        <section id="project" class="projects">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p> I've had the chance to work on some really fun projects over the last 18 months. Here are some of my favorites!</p>
                </div>

                <div class="row ">
                    <div class="col-lg-6">
                        <!-- <h3 class="projects-title">Implementation-based</h3> -->
                        <div class="projects-item pb-4">
                            <h4>Object Detection</h4>
                            <button type="button" href="https://github.com/AnthonyArmour/holbertonschool-machine_learning/tree/master/supervised_learning/0x00-object_detection" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/object-detection.jpg" alt="object-detection" class="rounded img-fluid" id="object-detection">
                        </div>

                        <div class="projects-item pb-4">
                            <h4 class="">Transformer for Machine Translation</h4>
                            <button type="button" href="https://github.com/AnthonyArmour/holbertonschool-machine_learning/tree/master/supervised_learning/0x02-transformer_apps" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/transformer.jpg" alt="transformer"
                                class="rounded img-fluid" id="transformer">
                        </div>

                        <div class="projects-item">
                            <h4>Bert QA Bot</h4>
                            <button type="button" href="https://github.com/AnthonyArmour/holbertonschool-machine_learning/tree/master/supervised_learning/0x03-qa_bot" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/QA.jpg" alt="QA" class="rounded img-fluid"
                                id="QA">
                        </div>

                        <div class="projects-item pb-4">
                            <h4 class="">Deep Q Learning Agent for Atari Breakout</h4>
                            <button type="button" href="https://github.com/tayloradam1999/holbertonschool-web_front_end" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/deep-q.gif" alt="Atari"
                                class="rounded img-fluid" id="Atari">
                        </div>

                        <div class="projects-item">
                            <h4>Bitcoin Closing Price Model Using LSTM Recurrent Neural Network</h4>
                            <button type="button" href="https://github.com/AnthonyArmour/holbertonschool-machine_learning/tree/master/supervised_learning/0x01-time_series" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/btc.jpg" alt="btc" class="rounded img-fluid"
                                id="btc">
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <!-- <h3 class="projects-title">Concept-based</h3> -->
                        <div class="projects-item pb-4">
                            <h4>Clustering and Mixture Models</h4>
                                <button type="button" href="https://github.com/AnthonyArmour/holbertonschool-machine_learning/tree/master/unsupervised_learning/0x01-clustering" target=" _blank"
                                data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/gmm.jpg" alt="clustering" class="rounded img-fluid" id="clustering">
                        </div>

                        <div class="projects-item pb-4">
                            <h4>A piece I wrote about gradient descent</h4>
                                <button type="button" href="https://medium.com/@anthonydarmour/gradient-descent-47cf5ce6f6a1" target=" _blank"
                                data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Blog Post</button>
                            <img src="/static/assets/img/portfolio/secant_to_tangent.gif" alt="gradient-descent" class="rounded img-fluid" id="gradient-descent">
                        </div>

                        <div class="projects-item pb-4">
                            <h4>Gaussian Processes and Bayesian Optimization</h4>
                            <button type="button" href="https://github.com/AnthonyArmour/holbertonschool-machine_learning/tree/master/unsupervised_learning/0x00-hyperparameter_tuning" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/GP.jpg" alt="GP" class="rounded img-fluid" id="GP">
                        </div>

                        <div class="projects-item pb-4">
                            <h4 class="">Deep Convolutional Architectures</h4>
                            <button type="button" href="https://github.com/AnthonyArmour/holbertonschool-machine_learning/tree/master/supervised_learning/0x01-deep_cnns" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                            <img src="/static/assets/img/portfolio/deep-cnn.jpg" alt="cnn"
                                class="rounded img-fluid" id="cnn">
                        </div>

                        <div class="projects-item pb-4">
                            <h4>Chess GUI w/ heuristic based AI</h4>
                            <button type="button" href="https://github.com/AnthonyArmour/CHESS/tree/master/GUI_Chess" target=" _blank"
                              data-toggle="button" aria-pressed="false" autocomplete="off" class="btn btn-outline-primary">Checkout Repo</button>
                              <video width="200" controls Autoplay=autoplay> <!--website/static/assets/img/hero-bg.jpg-->
                                <source src="/static/assets/img/portfolio/chess.mov" type="video/mp4">
                              </video>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Projects Section -->